.services-flex {
    max-width: 960px;
    margin: 0 auto 50px;
    margin-right: auto;
    display: block;
    box-sizing: border-box;
}

.services-img {
    max-width: 460px;
    margin: auto;
    padding: 0 10px;
}

.services-info {
    color: white;
    max-width: 460px;
    margin: 20px auto;
    padding: 0 15px;
    list-style: none;
    padding: 0 10px;
}

@media (max-width: 960px){
    .services-img {
        max-width: 600px;
        margin: 0 auto 50px;
    }
    #services-list {
        text-align: left;
    }
}