<div class="services-flex" fxLayout.gt-sm="row" fxLayout.lt-md="column">
  
  <div class="services-img">
    <img fxFlex="100" src="../../assets/images/taustakuva1.jpeg" alt="">
  </div>
  
  <div class="services-info">
    <h1>Tietoa Meistä</h1>
      <p>Osaavaa, luotettavaa, nopeaa ja ammattitaitoista 
          palvelua kaikkiin LVI-alan töihin. Palveluumme 
          kuuluu kaikki LVI-alan asennus-, korjaus- ja huoltotyöt vankalla 
          ammattitaidolla.
      </p> 
      <br> 
      <p>
          Palveluihimme 
          kuuluu, uudis -ja saneerauskohteiden vesi-, viemäri- ja 
          lämpöjohtotyöt.
      </p> 
      <p>
          Kylpyhuone ja keittiöremonttien LVI-työt.
      </p> 
      <br>
      <p>
          Palvelemme yksityis-, yritys- ja yhtiöasiakkaita. 
      </p>
      <p>
          Palvelemme nyt 
          myös asiakkaita pääkaupunkinalueen saaristoalueilla 
          sijaitsevissa kohteissa.
      </p>
  </div>

  
</div>

<div class="services-flex" fxLayout.gt-sm="row" fxLayout.lt-md="column-reverse">
  
<div class="services-info" id="services-list">
    <h1>LVI-Palvelut</h1>
            <li>- LVI korjaus- ja huoltotyöt</li>
            <li>- omakoti-, rivi- ja kerrostalojen putkityöt</li>
            <li>- Venttiilien vaihdot</li>
            <li>- Vesivuoto korjaukset</li>
            <li>- Viemärin avaukset</li>
            <li>- Viemärin kuvaukset</li>
            <li>- Hana asennukset, huollot ja vaihdot</li>
            <li>- Wc-istuimien huollot ja vaihdot</li>
            <li>- Lämminvesivaraajat</li>
            <li>- Vesikalusteiden asennukset esim. altaat, allaskaapit</li>
  </div>

  <div class="services-img">
    <img fxFlex="100" src="../../assets/images/putkia2.jpeg" alt="">
  </div>
  
</div>

<div class="services-flex" fxLayout.gt-sm="row" fxLayout.lt-md="column">
  
  <div class="services-img">
    <img fxFlex="100" src="../../assets/images/background.jpg" alt="">
  </div>
  
  <div class="services-info">
    <h1>Arvot</h1>
      <p>
          Yrityksellemme on hyvin tärkeää laadukas työnjälki 
          sekä tyytyväiset asiakkaat. 
      </p>  
      <p>
        Työt toteutetaan aina asiakkaan toiveita kunnioittaen.
      </p> 
  </div>

  
</div>
