html, body { 
    height: 100%; 
}
body {
    margin: 0; 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 1) 100%), url('./assets/images/taustakuva1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
