<section class="info-section">

    <h1 class="logo animate__animated animate__fadeIn">Vankalla ammattitaidolla kaikki LVI-alan palvelut pääkaupunkiseudulla</h1>

    <p class="logo animate__animated animate__fadeIn">E.T Putki on espoolainen LVI-alan yritys, 
        joka palvelee yksityis-, yritys- ja yhtiöasiakkaita. 
        Palveluumme kuuluu kaikki LVI-alan asennus-, 
        korjaus- ja huoltotyöt vankalla ammattitaidolla. Yrityksemme toimii pääsääntöisesti uudenmaan 
        alueella 
        Espoon, Helsingin ja Vantaan alueella.
        </p>
    
        <button class="logo animate__animated animate__fadeIn" mat-fab extended color="accent">
            <mat-icon>favorite</mat-icon>
            Ota Yhteyttä!
          </button>

</section>

